# In the future, might make static website
*.html

# Virtual environment for python
.venv

# Python compiled
*.pyc

# Text files
*.txt

# VScode settings for this project
.vscode

# Database
*.db

# For testing purposes
temp.py

# VSCode stuff
.DS_Store
*.pdf